{:paths ["src"]
 :deps
 {com.github.discljord/discljord
  {:git/url "git@github.com:IGJoshua/discljord.git"
   :sha "8bf59d798863bb92493fab5992230bd5b712e632"}
  com.datomic/client-api #:mvn{:version "1.0.58"},
  com.datomic/client-impl-shared #:mvn{:version "1.0.97"}
  org.clojure/core.async #:mvn{:version "1.3.618"}}}
